@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Castoro+Titling&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #f9f8fa;
}

* {
  line-height: 1.6;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #0077cc;
  color: #ffffff;
}
